<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/build/build.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block javascripts %}
      <script src="/build/build.js"></script>
    {% endblock %}

  </body>
</html>
